@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-color: #101010;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.table-container {
    width: 90%;
    max-width: 850px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #181818;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
}

th, td {
    padding: 14px;
    font-size: 14px;
    border-bottom: 1px solid #2e2e2e;
}

tbody tr {
    transition: 0.25s ease-in-out;
}

tbody tr:hover {
    background-color: #2b2b2b;
    transform: scale(1.02);
    box-shadow: 0 0 12px rgba(100, 100, 255, 0.3);
    cursor: pointer;
}

td, th {
    cursor: pointer;
}


.back-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 18px;
    background: #4F63FF;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: .3s;
}

.back-btn:hover {
    background: #6C7BFF;
    transform: translateY(-3px);
}
